/ _course_membership.html.slim

/ p = link_to course_membership.member_name, main_app.url_for( [:admin, course_membership.member] )

p = link_to course_membership.member_name, [:admin, course_membership]

